name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_TOOLCHAIN_VERSION: "1.84"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    #    env:
    #      RUSTFLAGS: -D warnings
    steps:
      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs > install-rustup.sh
          sh ./install-rustup.sh -y
          source "$HOME/.cargo/env"
          rustup toolchain install $RUST_TOOLCHAIN_VERSION
          rustup default $RUST_TOOLCHAIN_VERSION
      - name: Install cross
        run: cargo install cross
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cross build --verbose --release --target x86_64-unknown-linux-gnu
      - name: Package binary
        run: tar cvfz codai.tar.gz target/x86_64-unknown-linux-gnu/release/codai
      - uses: actions/upload-artifact@v4
        with:
          name: codai-x86_64
          path: codai.tar.gz
